@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

/* Omegea Font Choices */
/* Kenia */
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
/* Yatra One */
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
/*Kablammo  font-variation - 43*/
@import url('https://fonts.googleapis.com/css2?family=Kablammo:MORF@43&display=swap');
/*Monoton*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/* Rubik Glitch */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

  /*Colors*/
  :root{
    /*Laser Lemon*/
    --laser-lemon: #f9ff00;
    --laser-lemon-rgb: 249, 255, 0;
    --laser-lemon-hsl: 62, 100%, 50%;
   
    /* Glowing Orange */
    --glowing-orange: #FF6B00;
    --glowing-orange-rgb: 255, 107, 0;
    --glowing-orange-hsl: 25°,100%, 50%;
   
   /*Matrix Green */
   --matrix-green:#03fca1;
   --matrix-green-rgb: 3, 252, 161;
   --matrix-green-hsl: 159, 98%, 50%;
   
    /* Laser Red */
    --laser-red: #FF003C;
    --laser-red-rgb: 255, 0, 60;
    --laser-red-hsl: 346°,100%, 50%;
   
   
   /*Quantum Violet*/
   --quantum-violet:#bf00ff;
   --quantum-viole-rgb: 191, 0, 255;
   --quantum-viole-hsl: 285, 100%, 50%;
   
   /*Ultra Pink */
   --ultra-pink:#ff00ff;
   --ultra-pink-rgb: 255, 0, 255;
   --ultra-pink-hsl: 300, 100%, 50%;
   
    /*Electric Blue*/ 
      --electric-blue: #00f0ff;
     --electric-blue-rgb: 0, 240, 255;
     --electric-blue-hsl: 183, 100%, 50%;
   
   /*Virtual Teal*/
   --virtual-teal:#01ffc3;
   --virtual-teal-rgb: 1, 255, 195;
   --virtual-teal-hsl: 165, 100%, 50%;
   
   
   /*Sys Failure */
   --sys-failure:#330011;
   --sys-failure-rgb: 51, 0, 17;
   --sys-failure-hsl: 340, 100%, 10%;
   
   /*Digital Abyss*/
   --digital-abyss:#120338;
   --digital-abyss-rgb: 18, 3, 56;
   --digital-abyss-hsl: 262, 90%, 12%;
   
   /*Void Black */
   --void-black:#0d0221;
   --void-black-rgb: 13, 2, 33;
   --void-black-hsl: 260, 89%, 7%;
 }



 /*Gradients*/
 .gradient-cyber-matrix {
  background-image: radial-gradient(circle at 50% 50%, var(--matrix-green) 0%, var(--digital-abyss-rgb) 100%);
}
.gradient-glitch-hologram {
  background: radial-gradient(circle,var(--quantum-violet), var(--laser-lemon));
}
.gradient-matrix-rain {
  background-image: radial-gradient(circle at 80% 20%, var(--matrix-green) 0%, var(--virtual-teal) 100%);
}
.gradient-cybervoid {
  background-image: radial-gradient(circle at 50% 50%, var(--void-black) 0%, var(--electric-blue-rgb) 100%);
}
.gradient-blaackhole {
  background: radial-gradient(circle at center, var(--laser-red), var(--void-black) 80%);
}
.gradient-iridescent {
  background: radial-gradient(farthest-corner at 40px 40px, var(--virtual-teal) 0%, var(--quantum-violet) 50%, var(--void-black) 100%);
}
.gradient-dead-cicuit {
  background: radial-gradient(circle at top right, var(--glowing-orange), var(--void-black), var(--quantum-violet));
}

.gradient-startup {
  background: radial-gradient(circle at center, var(--virtual-teal) 0%, var(--digital-abyss) 70%);
}
.gradient-cyberglow {
  background-image: radial-gradient(circle at 60% 40%, var(--matrix-green-rgb) 0%, var(--electric-blue-2) 100%);
}
.gradient-terminal-fire {
  background: radial-gradient(circle, var(--laser-lemon), var( --laser-red));
}

/*Text Shadow*/
.text-shadow-neon-ghost {
  text-shadow: 
    0 0 20px var(--electric-blue),
    0 0 40px var(--virtual-teal);
}

.text-shadow-neon-double {
  text-shadow: 
    3px 3px var(--glowing-orange),
    6px 6px var(--quantum-violet-rgb),;
}

.text-shadow-hologram {
  text-shadow: 
    0 0 10px var(--quantum-violet),
    0 0 20px var(--virtual-teal-rgb),
    0 0 30px var(--electric-blue);
}


.text-shadow-halo {
  text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px var(--matrix-green), 0 0 20px var(--matrix-green), 0 0 40px var(--matrix-green);
  color: #fff;
}